html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*addition of grids for project sidebar*/
[class*='col-'] {
  float: left;
}

[class*='col-'] {
  padding-right: 20px;
  border: 3px solid white;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.grid {
	width: 100%;
}

.grid-pad {
  padding: 20px 0 20px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

/*left column*/
.col-3-10 {
	width: 30%;
}

/*right column*/
.col-7-10 {
	width: 70%;
}

.content {
	text-align: center;
	font-family: 'Slabo 27px', serif;
}

/*navigation bar*/
.navigation {
	float:right;
	font-size: 1.04rem;
	list-style: none;
	margin-bottom: 6rem;
	width: 100%;
	position: fixed;
	background-color: #2F4F4F;
}

.navigation .content {
	height: 4.375rem;
	width: 46rem;
	margin: 0 auto;
	padding: 0 0.938rem;	
}

.navigation .content .links {
	float: right;
	margin-top: 1.5em;
}

.navigation .content .links li {
	display: inline-block;
	margin-left: 1.563rem;
}

/*navigation links*/
a {
	text-decoration: none;
	padding-right: 1em;
	color: white;
	font-weight: bold;
}

/*name and overview*/
.introduction {
	margin-left: 2rem;
	margin-right: 2rem;
}

.introduction .content h1 {
	padding-top: 6rem;
	font-size: 3.5rem;
	color: #2F4F4F;
	font-family: 'Playfair Display', serif;
	font-weight: bolder;
}

.introduction .content h2 {
	padding-top: 1.25rem;
	font-size: 1.5rem;
}

.introduction .content h3 {
	padding-top: 1.25rem;
	font-size: 1.25rem;
	color: #708090;
}

/*.projects {
	margin-left: 2rem;
	margin-right: 2rem;
}*/

/*increases length of sidebar downwards*/
.grid .myprojects {
	padding-bottom: 1rem;
	border: solid 2px #2F4F4F;
}

/*affects sidebar links*/
.grid .myprojects li {
	padding-top: .5rem;
	padding-bottom: 1rem;
	list-style: none;
	padding-left: .5rem;
	font-family: 'Slabo 27px', serif;
}

.grid .myprojects a {
	color: #2F4F4F;
}

.grid .projectsidebar h3 {
	padding-top: 1.5rem;
	font-family: 'Slabo 27px', serif;
}

/*projects with screenshots*/
.projects .content {
	padding-top: 1.5rem;
}

.projects .content h3 {
	font-size: 1rem;
}

.projects .content p {
	padding-bottom: 1rem;
	color: #808080;
}

.projectsidebar p {
	padding-top: .5rem;
}

.projectsidebar h3 {
	padding-bottom: .5em;
	text-align: center;
}

img {
	max-width: 500px;
	display: block;
	border: 2px solid #2F4F4F;
	margin-left: auto;
	margin-right: auto;
}

/*social information*/
.content-footer {
  margin-top: 5em;
  background-color: #00796B;
  padding-top: 3em;
  padding-bottom: 3em;
}

.content-footer .social {
  word-spacing: 0.5em;
  text-align: center;
  padding-top: 1rem;
}

.social > li {
  display: inline-block;
  font-family: 'Slabo 27px', serif;
}

/*addition of responsiveness*/
@media only screen and (max-width: 500px) {
    .navigation {
        padding: 3em 0;
    }
    .navigation-content {
        font-size: 3em;
    }
    .introduction {
        margin: 3em;
    }
    .projects {
        margin: 3em;
    }
    .content-footer {
        margin: 3em;
  }
}