html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*body border styling*/
#top, #bottom, #left, #right {
	background: #B2DFDB;
	position: fixed;
}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0; }

/*addition of grids for project sidebar*/
[class*='col-'] {
	float: left;
	padding-right: 20px;
	border: 3px solid white;
}

.grid {
	width: 100%;
}

.grid-pad {
	padding: 20px 0 20px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
	padding-right: 20px;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

/*left column*/
.col-3-10 {
	width: 30%;
}

/*right column*/
.col-7-10 {
	width: 70%;
}

.content {
	text-align: center;
	font-family: 'Slabo 27px', serif;
}

/*navigation bar*/
.navigation {
	float:right;
	font-size: 1.04rem;
	list-style: none;
	margin-bottom: 6rem;
	width: 100%;
	position: fixed;
	background-color: #2F4F4F;
}

.navigation .content {
	height: 4.375rem;
	margin: 0 auto;
	padding: 0 0.938rem;
}

.navigation .content .links {
	float: right;
	margin-top: 1.5em;
}

.navigation .content .links li {
	display: inline-block;
	margin-left: 1.563rem;
}

/*navigation links*/
a {
	text-decoration: none;
	padding-right: 1em;
	color: white;
	font-weight: bold;
}

/*name and overview*/
.introduction {
	margin-left: 3rem;
	margin-right: 3rem;
}

.introduction .content h1 {
	padding-top: 6rem;
	font-size: 3.5rem;
	color: #2F4F4F;
	font-family: 'Playfair Display', serif;
	font-weight: bolder;
}

.introduction .content h2 {
	padding-top: 1.25rem;
	font-size: 1.5rem;
}

.introduction .content h3 {
	padding-top: 1.25rem;
	padding-bottom: 3rem;
	font-size: 1.25rem;
	color: #708090;
	border-bottom: solid 1px #2F4F4F;
}

.introduction .content .project-header {
	text-align: left;
	font-size: 2rem;
	font-weight: bold;
}

/*increases length of sidebar downwards*/
.grid .myprojects {
	margin-top: .4rem;
	border: solid 2px #2F4F4F;
}

/*affects sidebar links*/
.grid .myprojects li {
	padding-top: .5rem;
	padding-bottom: 1rem;
	list-style: none;
	padding-left: .5rem;
	font-family: 'Slabo 27px', serif;
}

.grid .myprojects a {
	color: #2F4F4F;
}

.grid .projectsidebar h3 {
	padding-top: 0 auto;
	font-family: 'Slabo 27px', serif;
	padding-bottom: 0;
}

/*projects with screenshots*/

.projects .content h3 {
	font-size: 1rem;
}

.projects .content .jumptarget::before {
	content:"";
	display:block;
	height:4.375rem; /* fixed header height*/
	margin:-4.375rem 0 0; /* negative fixed header height */
}

.projects .content p {
	padding-bottom: 1rem;
	color: #808080;
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

.projectsidebar p {
	padding-top: .5rem;
}

.projectsidebar h3 {
	padding-bottom: 1.2rem;
	text-align: center;
}

img {
	max-width: 494px;
	display: block;
	border: 2px solid #2F4F4F;
	margin-left: auto;
	margin-right: auto;
}

/*social information*/
.content-footer {
	margin-top: 5em;
	background-color: #00796B;
	padding-top: 3em;
	padding-bottom: 3em;
}

.content-footer .social {
	word-spacing: 0.5em;
	text-align: center;
	padding-top: 1rem;
}

.social > li {
	display: inline-block;
	font-family: 'Slabo 27px', serif;
}

/*addition of responsiveness*/
@media only screen and (max-width: 500px) {
	.navigation .content {
		padding: 1rem 0;
		font-size: 1rem;
		padding: 0 0.938rem;
	}
	.navigation .content .links {
		margin-top: 1.5em;
	}

	.myprojects li {
		text-align: center;
	}

	img {
		margin-left: 0;
		margin-right: 0;
	}

	/*grid stuff*/
	.grid-pad {
		padding: 0 0 0 0;
	}
	.grid-pad > [class*='col-']:last-of-type {
		padding-right: 0;
	}
	.col-3-10 {
		width: 100%;
	}
	.col-7-10 {
		width: 100%;
	}
}

/*border will not display on small screens*/
@media

/*Fairly small screens including iphones*/
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px)

{
	#top, #bottom, #left, #right { display: none; }
}
